@media (max-width:575px) {
  .search {
    /* background: #000; */
    margin-top: 80px;
  }

}

@media (max-width:400px) {
  input {
    margin-left: -100px;
  }

  .fasearch {
    /* background: #000; */
    /* position:absolute; */
    right: 30px;
  }

  .card {
    margin-left: 15px;
    position:reletive;
  }


}